
<br>
<h3 style="color: aqua">Deposit</h3>
<br>
<br>

<div class="container" align="center">



    <form action="" class= "form-group col-md-5" (ngSubmit)="onSubmit()" [formGroup]="depositForm" >
        <input type="text" class ="form-control" name ="deposit" placeholder="Enter the Amount to Deposit" formControlName="depositAmount" [ngClass]="{'is-invalid': submitted && state.depositAmount.errors}" />
        <div *ngIf="submitted && state.depositAmount.errors" class="invalid-feedback">
            <div *ngIf="state.depositAmount.errors.required">Amount is required</div>
            <div *ngIf="state.depositAmount.errors.pattern">Enters digits only</div>
        </div>

        <br>
    
        <button type="submit"  class="btn btn-success" id="success-button" >Deposit</button>
        &nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-danger"  >Reset</button> 


      </form>
      <button id="Back"  [routerLink]="['menu']" (click)="gotoMenu()" class="btn btn-primary" >Back</button>


</div>